* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.mr-wallet-button,
.mr-menu-list {
  background-color: greenyellow;
  color: rgb(39, 39, 39);
}

/* Set the position of the dropdown container to relative */
.wallets {
  position: relative;
}

/* Style the links in the dropdown content */
.wallets li {
  display: block;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Change the background color of links on hover */
.wallets li:hover {
  background-color: green;
  color: white;
}
